body {
  min-width: 260px;
  padding: 1rem;
}
.logo-circle {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.icon svg {
  width: 1em;
  height: 1em;
}
