html,
body {
  margin: 0;
  padding: 0;
  background-color: #020617;
}
.section {
  padding: 0;
}

body {
   background-color: #020617;
  min-width: 260px;
}
.logo-circle {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.icon svg {
  width: 1em;
  height: 1em;
}
.container {
  padding: 0;
  margin: 0;
}

.box {
  margin: 0;
}
.container {
  width: 100%;
   background-color: #020617;
}
